<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename="/css/pages/base.css")}}">
    {% block title -%}
    {% if title -%}
        <title>{{title}}</title>
    {% else -%}
        <title>Мой сайт</title>
    {% endif %}
    {% endblock title %}
</head>
<body>

  <div class="page">

      <!-- Секция header -->

    <section class="header">
        <div class="header__content">
        <h1 class="logo header__logo">
          {{title.split()[0]}}<span class="logo__card">{{title.split()[1]}}</span>
        </h1>

        {% block mainmenu -%}
        <nav class="navigation">
          <ul class="navigation__link-list">
            {% for link in menu -%}
            <li class="navigation__list-item navigation__list-item_border"><a href="{{link.url}}" class="navigation__link">{{link.title}}</a></li>
            {% endfor -%}
          </ul>
        </nav>
        {% endblock mainmenu -%}

        <div class="header__search"></div>
      </div>
    </section>

    <main class="content page__content">
      {% block content %}

      {% endblock content %}
    </main>

    <footer class="footer page__footer">
      {% block footer %}
      <section class="footer__top-row">
        <div class="footer__about footer__about_margin_right">
          <p class="logo footer__logo">
            {{title.split()[0]}}<span class="logo__card">{{title.split()[1]}}</span>
          </p>
          <p class="footer__text">Short description about the company Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry.
          </p>
  
          <div class="social-links footer__social-links">
            <h2 class="social-links__head">Keep in touch</h2>
  
            <ul class="social-links__list">
              {% block soc_menu_links -%}
              {% for link in soc_links -%}
              <li class="social-links__list-item social-links__list-item_border">
                <a href="{{link.url}}" class="social-links__link">
                  <img src="{{link.icon}}" alt="{{link.alt}}" class="social-links__pic">
                </a>
              </li>
              {% endfor -%}
              {% endblock soc_menu_links -%}
            </ul>
          </div>
        </div>
  
        <section class="newsletter footer__newsletter">
  
          <h2 class="newsletter__head">Email newsletter</h2>
          <input type="text" class="newsletter__name newsletter__name_place_footer" placeholder="Your name">
          <input type="email" class="newsletter__email newsletter__email_place_footer" placeholder="Your email adress">
          <button class="big-button newsletter__big-button">Subscribe to newsletter</button>
  
        </section>
      </section>

      <section class="footer__bottom-row">
        <div class="footer__bottom-row-content">
          <p class="footer__copi-right">@2019 Logwork. All Right Reserved.</p>

          <nav class="navigation">
            <ul class="navigation__link-list">
              {% for link in menu -%}
              <li class="navigation__list-item navigation__list-item_border"><a href="{{link.url}}" class="navigation__link">{{link.title}}</a></li>
              {% endfor -%}
            </ul>
          </nav>
        </div>
      </section>


    {% endblock footer %}
    </footer>

  </div>

</body>
</html>