{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for post in posts -%}

    <div class="two-column content__two-column">
        <section class="column-main">
            <article class="big-post column-main__big-post">
                    <div class="post">
                        <p class="card big-post__card">{{post.book}}</p>
                            <h2 class="">{{post.article}}</h2>
                        <p class="big-post__subtitle">{{post.author}} - {{post.time}}</p>
                        <p class="big-post__text">{{post.post}}</p>
                    </div>
            </article>
        </section>
    </div>

{% endfor -%}
{% endblock content %}